* {
    margin: 0;
}
p, span, ul {
    font: 10pt Verdana, Geneva, sans-serif;
}
h1 {
    font: 15pt Arial, Helvetica, sans-serif;
    color: #00549a;
    line-height: 150%;
}
.meuheader {
    background-color: #005FA4;
}
.container {
    width: 978px;
    margin: 0 auto;
    height: auto;
}
.linha {
    width: 100%;
    margin: 0;
    display: block;
}
nav {
    background: #00549A;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding-top: 7px;
}
nav ul {
    list-style-type: none;
    text-transform: uppercase;
}
nav ul li {
    float: left;
    display: inline;
    padding: 0px 12px;
    position: relative;
    font: 10pt Verdana, Geneva, sans-serif;
    color: white;
}
.breadcrumb {
    background: #F6F6F1;
    height: 42px;
}
.breadcrumb ul {
    list-style-type: none;
    text-transform: uppercase;
    padding: 14px 0 0 0;
}
.breadcrumb ul li {
    float: left;
    display: inline;
    padding: 0px 4px;
    position: relative;
    font: 8pt Verdana, Geneva, sans-serif;
    color: #2e1261;
}
.breadcrumb ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.meuarticle {
    width: 740px;
    float: left;
    padding: 35px 0px;
}
aside {
    padding: 35px 0px;
}
aside ul {
    list-style-type: none;
    margin: 0px;
}
aside ul li:first-child {
    border-top: 1px solid #D6D3B8
}
aside ul li {
    border-bottom: 1px solid #D6D3B8;
    position: relative;
    z-index: 100;
}
aside ul li a {
    text-decoration: none;
    color: #00549A;
    display: block;
    padding: 10px 15px;
}
.active-aside {
    font-weight: bold;
    background-color: #F6F6F1;
}